<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>接收的任务</title>

    <!-- Favicons -->
    <!--<link href="img/favicon.png" rel="icon">-->
    <!--<link href="img/apple-touch-icon.png" rel="apple-touch-icon">-->

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/bootstrap-3.3.7/css/bootstrap-theme.min.css"/>
    <!--external css-->
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.gritter.css"/>
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <!--<script src="lib/chart-master/Chart.js"></script>-->
</head>
<body>
<section id="container">
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div data-placement="right" data-original-title="Toggle Navigation"></div>
            <!--class="fa fa-bars tooltips"-->
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b><span>文本检索结果评估系统</span></b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><button class="logout" type="button" id = "logout">退出登录</button></li>
            </ul>
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <p class="centered"><a href="profile.html"><img src="img/po.jpg" class="img-circle" width="80"></a></p>
                <h5 class="centered" id="current_user">root</h5>
                <li class="mt">
                    <a class="active" href="/myreleasetask">
                        <!--<i class="fa fa-dashboard"></i>-->
                        <span>我发布的任务</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/myreceivedtask">
                        <!--<i class="fa fa-desktop"></i>-->
                        <span>我收到的任务</span>
                    </a>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="center-block" style="width:300px;">
                <h2>发布项目</h2>
            </div>
            <table class="table table-striped table-bordered" style="table-layout: fixed" id="addRelease_table">
                <tr>
                    <th>项目名称</th>
                    <td><input type="text" class="form-control" name="releasename" placeholder="项目名称" id="release_name"></td>
                    <th>选用方案</th>
                    <td>
                        <select id="release_plan" >
                            <option>层次分析法</option><!--要把生成任务数，预计完成时间等需要展示-->
                            <option>充分对比剪枝法</option>
                            <option>同层对比剪枝法</option>
                        </select>
                    </td>
                    <th>子任务量</th>
                    <td id="plan_subtaskNum" ></td>
                </tr>
                <tr>
                    <th >检索数据表</th>
                    <td> <input type="text" class="form-control" id="input_tablename" placeholder="检索内容数据表名" autofocus></td>
                    <th>检索数据源<button id="zdInputs">表字段</button></th>
                    <td><input type="file"  name="fileUpload" id="add_file_input"/></td>
                </tr>
                <tr >
                    <th name="recommand_num">推荐算法1</th> <!--一个算法名对应一个SQL文件上传，后面有添加按钮增加一行-->
                    <td>
                        <input type="text" class="form-control" name="recommand_algname" placeholder="任务包含的算法名" id="recommand_algname">
                    </td>
                    <th>推荐结果表名</th> <!--一个算法名对应一个SQL文件上传，后面有添加按钮增加一行-->
                    <td>
                        <input type="text" class="form-control" name="recommand_tablename" placeholder="推荐结果表名" id="recommand_tablename">
                    </td>
                    <th>推荐结果数据源<button id="zdRecommends">表字段</button>
                    </th>
                    <td>
                        <input type="file" name="add_files" id="add_file" style="display: inline-block"/>
                        <span>
                            <button type="button" id="addMore_file" onclick="addAlg()">添加算法</button>
                        </span>
                    </td>
                </tr>
                    <th name="recommand_num" id="2">推荐算法2</th>
                    <td> <input type='text' class='form-control' name='recommand_algname' placeholder='任务包含的算法名' id='recommand_algname'> </td>
                    <th>推荐结果表名</th>
                    <td><input type='text' class='form-control' name='recommand_tablename' placeholder='推荐结果表名' id='recommand_tablename'></td>
                    <th>推荐结果数据源 </th>
                    <td>
                        <input type='file' name='add_files' id='add_file' style='display: inline-block'/>
                        <span><button type='button'  onclick='deleteAlg(this)'>删除算法</button> </span>
                    </td>
                </tr>

            </table>
            <div align="center">
                <button type="button" class="btn btn-primary" onclick="addRelease()" >确认发布</button>
                <!--<button type="button" class="btn btn-primary" >确认发布</button>&lt;!&ndash;data-toggle="modal" data-target="#myModal"&ndash;&gt;-->
                <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
                    <!--<div class="modal-dialog modal-sm">-->
                        <!--<div class="modal-content">-->
                            <!--<div class="modal-header">-->
                                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                                <!--&lt;!&ndash;<h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>&ndash;&gt;-->
                            <!--</div>-->
                            <!--<div class="modal-body">请上传小于1M的文件</div>-->
                            <!--<div class="modal-footer">-->
                                <!--&lt;!&ndash;<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>&ndash;&gt;-->
                                <!--<button type="button" class="btn btn-primary">确定</button>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
                    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
                <!--</div>-->

            </div>
            <!--main content end-->
        </section>
    </section>
</section>

<div id = "mask"></div>
<div class="modal-dialog" id="zdInputsTS" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="cancelInputs">&times;</button>
            <h4 class="modal-title">数据格式： </h4>
        </div>
        <div class="modal-body">
            <img src="img/inputs.png">
        </div>

    </div>
</div>
<div class="modal-dialog" id="zdRecommendsTS" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="cancelRecommennd">&times;</button>
            <h4 class="modal-title">数据格式： </h4>
        </div>
        <div class="modal-body">
            <img src="img/recommend.png">
        </div>

    </div>
</div>
<!--登录提示-->
<div class="modal-dialog" id="ts" style="display: none;margin-left: 200px;">
    <div class="modal-content" style="width: 300px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="cancelTs">&times;</button>
            <h4 class="modal-title">提示： </h4>
        </div>
        <div class="modal-body" id="tsnr" >
            <!--<img src="img/inputs.png">-->
        </div>

    </div>
</div>
<!-- js placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/addrelease.js"></script>
<script src="js/loginOut.js"></script>
</body>
</html>
