<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--
    <jsp:include page="../head.jsp"></jsp:include>
    -->
    <title>接收的任务</title>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/my_receive.js"></script>
    <script src="js/comment.js"></script>
</head>
<body>
    <!--导航栏-->
    <div th:include="head :: head"></div>
    <!--需要分成两部分，已完成的任务和未完成的任务-->
    <table class="table table-striped">
        <div class="row">
            <div class="center-block" style="width:300px;">
                <h2 style="display: inline-block">我收到的任务</h2>
                <select id="job_status" class = "btn btn-primary">
                <option >已完成</option>
                <option >未完成</option>
            </select>
            </div>
        </div>
        <thead>
        <tr>
            <th>序号</th>
            <th>开始任务</th>
            <th>任务状态</th>
            <th>项目名称</th>
            <!--   <th>开始任务</th> -->
        </tr>
        </thead>
        <tbody id="receivedInfo">
        <!--
        <c:forEach items="${taskList}" var="item" varStatus="vs">
            <tr>
                <td>${item.subtask_id}</td>
                <td></td>
                <td><button id="addReleaseTask" class = "btn btn-primary" type= "submit">开始任务</button></td>
            </tr>
        </c:forEach>
        -->
        </tbody>
    </table>
</body>
</html>