<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我发布的任务</title>

    <!-- Favicons -->
    <!--<link href="img/favicon.png" rel="icon">-->
    <!--<link href="img/apple-touch-icon.png" rel="apple-touch-icon">-->

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/bootstrap-3.3.7/css/bootstrap-theme.min.css"/>
    <!--external css-->
    <link href="css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.gritter.css"/>
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <!--<script src="lib/chart-master/Chart.js"></script>-->
</head>

<body>
<section id="container">
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div data-placement="right" data-original-title="Toggle Navigation"></div>
            <!--class="fa fa-bars tooltips"-->
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b><span>文本检索结果评估系统</span></b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="/" cl>退出登录</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <p class="centered"><a href="profile.html"><img src="img/nju.jpg" class="img-circle" width="80"></a></p>
                <h5 class="centered" id="current_user">root</h5>
                <li class="mt">
                    <a class="active" href="/myreleasetask">
                        <!--<i class="fa fa-dashboard"></i>-->
                        <span>我发布的任务</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="/myreceivedtask">
                        <!--<i class="fa fa-desktop"></i>-->
                        <span>我收到的任务</span>
                    </a>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <table class="table table-striped">
                <div class="row">
                    <div class="center-block" style="width:300px;">
                        <h2>我发布的项目
                            <button id="addReleaseTask" class="btn btn-primary" type="submit"
                                    onclick="javascritpt:window.location.href='/addrelease'">发布项目
                            </button>
                        </h2>
                    </div>
                </div>
                <thead>
                <tr>
                    <th>项目ID</th>
                    <th>项目名称</th>
                    <th>选取方案</th>
                    <th>项目进度</th>
                    <th>抽查</th>
                    <th>评价</th>
                </tr>
                </thead>
                <tbody id="releasedInfo"></tbody>
            </table>
            <!--main content end-->
        </section>
    </section>
</section>
<!-- js placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>

<script src="js/bootstrap.min.js"></script>
<script src="js/my_release.js"></script>

</body>
</html>
